@use "../../../utils/variables.scss";

form {
  margin-top: 1rem;
  display: flex;

  p.input-value {
    margin-left: 10px;
  }

  input {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    width: 50%;
    font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  form {
    p span.accent-color {
      color: variables.$dark-accent-color;
    }

    p span.type-color {
      color: variables.$secondary-dark-text-color;
    }
  }
}

@media (prefers-color-scheme: light) {
  form {
    p span.accent-color {
      color: variables.$light-accent-color;
    }

    p span.type-color {
      color: variables.$secondary-light-text-color;
    }
  }
}
