@use "../../../utils/variables.scss";

.banner-component {
  margin-bottom: 1rem;
  h1 {
    font-size: 20px;
  }

  p span {
    color: variables.$accent-color;
  }
}

@media (prefers-color-scheme: dark) {
  .banner-component p.secondary-text {
    color: variables.$secondary-dark-text-color;
  }
}

@media (prefers-color-scheme: light) {
  .banner-component p.secondary-text {
    color: variables.$secondary-light-text-color;
  }
}
