@use "../../../utils/variables.scss";

.banner-component {
  margin-bottom: 1rem;
  h1 {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .banner-component {
    p span {
      color: variables.$dark-accent-color;
    }

    p.secondary-text {
      color: variables.$dark-gray-color;
    }
  }
}

@media (prefers-color-scheme: light) {
  .banner-component {
    p span {
      color: variables.$light-accent-color;
    }
    p.secondary-text {
      color: variables.$light-gray-color;
    }
  }
}
