@use "../../../utils/variables.scss";

@media (prefers-color-scheme: dark) {
  .error-container {
    .error-text {
      color: variables.$secondary-dark-text-color;
    }

    .accent-text {
      color: variables.$dark-accent-color;
    }
  }
}

@media (prefers-color-scheme: light) {
  .error-container {
    .error-text {
      color: variables.$secondary-light-text-color;
    }

    .accent-text {
      color: variables.$light-accent-color;
    }
  }
}
