@use "../../../utils/variables.scss";

.links-component {
  .links-container {
    display: flex;

    p {
      color: variables.$secondary-dark-text-color;
    }

    a {
      margin-left: 10px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .links-component .links-container a {
    color: variables.$dark-text-color;

    &:hover {
      color: variables.$dark-background-color;
      background-color: variables.$dark-text-color;
    }
  }
}
