// Dark Mode color

$dark-background-color: #282d3f;
$dark-text-color: #abcdd7;
$secondary-dark-text-color: #56696e;

// Light Mode color

$light-background-color: #fdf6e3;
$light-text-color: #50646b;
$secondary-light-text-color: #9fc0ce;

//---------------------------------//

$accent-color: #df6b74;
$type-color: #b69c76;
