// Dark Mode color

$dark-background-color: #230339;
$dark-text-color: #5dcbdb;
$secondary-dark-text-color: #ed1e9b;
$dark-accent-color: #fbe404;
$dark-gray-color: #433574;

// Light Mode color

$light-background-color: #fdf6e3;
$light-text-color: #50646b;
$secondary-light-text-color: #9fc0ce;
$light-accent-color: #df6b74;
$light-gray-color: #b69c76;

//---------------------------------//
